body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    padding-top:200px;
    max-width: 800px;
    margin: 0 auto;
    color: #444444;
    font-family: sans serif;
    box-shadow:10px 10px 20px #C0C0C0;
    padding:20px;
    border:1px #808080;
    border-radius:5px;
}

